@import 'variables';
@import '~@angular/material/theming';
@include mat-core();

$palette-primary: mat-palette($primary);
$palette-accent: mat-palette($secondary);
$palette-warn: mat-palette($mat-deep-orange);

$contacts-app-theme: mat-light-theme((
    color: (
        primary: $palette-primary, 
        accent: $palette-accent, 
        warn: $palette-warn
    )
));

@include angular-material-theme($contacts-app-theme);


